nav.light-blue.lighten-1(role='navigation')
    .nav-wrapper.container
        a.brand-logo(href='index.html')
            | LexLauncher
        ul.right
            li
                a(href='index.html')
                    | News
            li
                a(href='profiles.html')
                    | Profiles
