extends _layout
block content
    .section.no-pad-banner
        .row
            .container
                h4.orange-text
                    | Introducting LexLauncher
                p
                    | Over 2 years ago I came up with the idea of LexLauncher: a easy simple-to-use Minecraft launcher. Java being the
                    | awful language it was (and is) for UI programming just ended up killing off the project everytime I attempted to
                    | reincarnate it. As such this time around I will be making the launcher in Electron using Pug, SCSS and TypeScript.
